body{
    background-image: url(../assets/images/background.jpg);
    background-size: cover;
    font-family: "Helvetica", sans-serif;
    font-size: 1.2em;
    margin: 0;
    color: #ffffff;
}
.loading-box{
    background-color: #ffffff3b;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
}
.loading-container{
    width: 200px;
    overflow-x: hidden;
}
.wave{
    height: 50px;
}
.loading-image{
    display: flex;
    animation: wave 3s ease infinite;
}
.loading-text{
    margin-top: 5px;
    text-align: center;
    animation: loading 0.5s ease infinite alternate;
}
@keyframes loading{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0.2;
    }
}
@keyframes wave{
    0%{
        transform: translatex(-1500%);  
    }
    100%{
        transform: translatex(0%);  
    }
}