body{
    background-image: url(../assets/images/background.jpg);
    background-size: cover;
    font-family: "Helvetica", sans-serif;
    font-size: 1.2em;
    margin: 0;
    color: #ffffff;
}
.loading{
    background-color: #0807073b;
    backdrop-filter: blur(10px);
    justify-content: center;
    width: auto;
    height: auto;
}
.wave{
    height: 50px;
    background: linear-gradient(90deg, #474747 0%, #4d77b3 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.loading-image{
    display: flex;
    animation: wave 2s ease infinite;
    
}
.loading-text{
    margin-top: 5px;
    text-align: center;
    animation: loading 0.5s ease infinite alternate;
}
@keyframes loading{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0.2;
    }
}
@keyframes wave{
    0%{
        transform: translatex(-1300%);  
    }
    100%{
        transform: translatex(0%);  
    }
}

.code-container{
    width: 500px;
    margin-left: auto;
    margin-right: auto; 
    overflow-x: auto;
    overflow-y: hidden;
}
.python-output{
    width: 500px;
    height: 200px;
    background-color: #1a1b26;
}
.py-terminal{
    background-color: #1a1b26 !important;
    width: 100%;
}
.pyscript-container{
    width: 500px;
    margin-left: auto;
    margin-right: auto; 
    overflow-x: auto;
    overflow-y: hidden;
    background-color: #151b1f;
}  
pre{
    margin-bottom: 0;
    display: flex;
}
.run-code-button{
    position: relative;
    top: -80px;
    float: right;
    padding: 7px 10px 7px 10px;
    margin: 10px 10px 10px 10px;
    background-color: transparent;
    border: solid;
    border-radius: 15px;
    border-width: 3px;
    border-color: #4d77b3;
    color: #4d77b3;
}