body{
    background-image: url(../assets/images/background.jpg);
    background-size: cover;
    font-family: "Helvetica", sans-serif;
    font-size: 1.2em;
    margin: 0;
    color: #ffffff;
}
.loading{
    background-color: #0807073b;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    overflow-x: hidden;
    height: 500px;
}
.wave{
    height: 50px;
    background: linear-gradient(90deg, #474747 0%, #4d77b3 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.loading-image{
    display: flex;
    animation: wave 2s ease infinite;
    
}
.loading-text{
    margin-top: 5px;
    text-align: center;
    animation: loading 0.5s ease infinite alternate;
}
@keyframes loading{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0.2;
    }
}
@keyframes wave{
    0%{
        transform: translatex(-1300%);  
    }
    100%{
        transform: translatex(0%);  
    }
}
.python-output{
    height: 100px;
    width: 100px;
    background-color: #4d77b3;
}