#outsider {
  height: 100vh;
  max-height: 1000px;
  width: 100%;
  overflow: scroll;
  position: relative;
  white-space: nowrap;
  #overflow-x: scroll;
  display: inline-block;
  box-shadow: 20px 0 20px 0 grey;
}
@keyframes timeline {
  0% {
    right: 0px;
  }
  100% {
    right: 1000px;
  }
}
#outsider:hover {
  animation-play-state: paused;
}
#insider {
  position: absolute;
  display: inline-block;
  height: 100%;
  width: auto;
  overflow: hidden;
  white-space: nowrap;
}

.history-block {
  height: 100%;
  min-width: 300px;
  width: 10vw;
  margin: 0 -2px;
  display: inline-block;
  font-family: "roboto condensed", sans-serif;
  font-size: 60px;
  font-weight: 100;
  color: #fff;
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.8);
  transition: width 0.2s;
}

.year {
  position: absolute;
  top: 0px;
  font-size: 70%;
  font-weight: bold;
  margin: 30px 30px;
  background-color: black;
  padding: 5px 15px 5px 15px;
}

.title {
  position: absolute;
  display: block;
  width: 250px;
  top: 65px;
  font-size: 15px;
  margin: 30px;
  white-space: normal;
  transition: width 0.2s;
  background-color: black;
  padding: 5px;
  line-height: 135%;
}
/* BUTTONS !!!!!!!!!!!!! */
#button-left,
#button-right {
  position: absolute;
  align-items: center;
  align-content: center;
  vertical-align: middle;
  justify-content: center;
  display: flex;
  align-items: center;
  z-index: 1000;
  color: black;
  height: 100vh;
  max-height: 1000px;
  width: 50px;
  background-color: white;
  opacity: 0.5;
}
#button-left {
  left: 0;
  color: black;
}
#button-right {
  right: 0;
}
#button-right:hover {
  opacity: 0.7;
}
#button-left:hover {
  opacity: 0.7;
}
/* IMAGES BCG !!!!!!*/
.bg-1993 {
  background: rebeccapurple;
  background-size: cover;
  background-position: center;
}

.bg-1994 {
  background: tan;
  background-size: cover;
  background-position: center;
}

.bg-1995 {
  background: aqua;
  background-size: cover;
  background-position: center;
}

.bg-1996 {
  background: black;
  background-size: cover;
  background-position: center;
}

.bg-1997 {
  background: yellow;
  background-size: cover;
  background-position: center;
}
.bg-1998 {
  background: yellow;
  background-size: cover;
  background-position: center;
}
.bg-1999 {
  background: wheat;
  background-size: cover;
  background-position: center;
}
.bg-2000 {
  background: lightcoral;
  background-size: cover;
  background-position: bottom;
}
.bg-2001 {
  background: palegreen;
  background-size: cover;
  background-position: bottom;
}
