.hljs{
  border-radius: 10px;
}
.katex-display > .katex > .katex-html > .tag {
  position: relative !important;
  right: -0.5em !important;
  font-size: 1em !important;
}
.tex-container{
  width: 310px;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto; 
  overflow-x: auto;
  overflow-y: hidden;
}
.code-container{
  width: auto;
  margin-left: auto;
  margin-right: auto; 
  overflow-x: auto;
  overflow-y: hidden;
}
.logo-horizontal{
  max-width: 200px;
}
body{
  font-family: "Helvetica", sans-serif;
  font-size: 1.2em;
  margin: 0;
}
.background-gradient{
  position: absolute;
  scale: 0.5;
  opacity: 0.5;
  rotate: 45deg;
  z-index: -1;
}
.content-column{
  display: grid;
  padding: 3vw 5vw 3vw 5vw;
}
.contents-header{
  display: flex;
  width: 125px;
  margin: 0 0 15px 0;
  padding: 10px 10px 10px 10px;
  border: solid;
  border-radius: 2vw;
}
.left-table-of-contents{
  overflow-y: scroll;
  max-height: 350px;
  padding: 0 5vw 0 0;
  margin: 0 0 5vw 0;
  display: none;
}
.left-column{
  margin-bottom: 5px;
}
.right-column{
  width: auto;
}
.light-mode{
  color: #474747;
  background-color: #f7f9ff;
  .solution{
    background-color: #dfdfdf;
  }
  .course-subcontent a{
    color: #474747;
  }
  .content-footer-wrapper{
    color: #27374D;
  }

  .contents-header{
    border-color: #394c66;
    color: #394c66;
  }

  .topnav {
    background-color: #ffffff;
    box-shadow: 0 0 2vw 0 #b4b4b4;
  }
  .header-text, .fa{
    color: #394c66;
  }
  .mode-switch{
    background-color: transparent;
    color: #808080;
  }
  .language-switch a{
    color: #808080;
  }
  .language-switch {
    color: #808080;
  }
  .section-text a{
    color: #4d77b3;
  }
  .course-by-year{
    color: #394c66;
  }
  .year-button{
    color: #474747;
  }
  
  .year-wrapper{
    background-color: #f7f9ff;
  }
  .active{
    background-color: #ffffff;
    box-shadow: inset 0 0 0 3px #4d77b3;
    color: #4d77b3;
  }
  
  .section-header{
    color: #394c66;
  }
  .curriculum{
    background-color: #ffffff;
    box-shadow: 0 0 2vw 0 #b4b4b4;
    border-width: 0;
  }
  .course-box{
    background-color: #ffffff;
    box-shadow: 0 0 2vw 0 #b4b4b4;
    text-decoration: none;
    border-style: none;
    border-radius: 15px;
  }
  .course-box:hover{
    box-shadow: 0 0 1vw 0 #b4b4b4;
  }
  .course-name{
    color: #474747;
  }
  .repo-link{
    background-color: transparent;
    box-shadow: inset 0 0 0 3px #4d77b3;
    color: #4d77b3;
  }
  .repo-link:hover{
    box-shadow: inset 0 0 0 3px #9DB2BF;
    color: #9DB2BF;
  }
  .footer{
    background-color: transparent;
    .footer-row-list a{
      color: #474747;
    }
  }
}    
.dark-mode{
  color: #dadada;
  background-color: #151b1f;
  .hljs{
    border: solid;
    border-width: 1px;
    border-color: #8a8a8a;
  }
  .solution{
    background-color: #1d2529;
  }
  .course-subcontent a{
    color: #dadada;
  }
  
  .topnav {
    background-color: #131a1d;
    box-shadow: none;
    border-bottom: solid;
    border-width: 1px;
    border-color: #8a8a8a;
  }
  .header-text, .fa{
    color:#ffffff;
  }
  .mode-switch{
    color: #dadada;
  }
  .mode-switch{
    color: #dadada;
    background-color: transparent;
  }
  .language-switch a{
    color: #8a8a8a;
  }
  .language-switch{
    color: #8a8a8a;
  }
  .section-header{
    color: #ffffff;
  }
  .section-text a{
    color: #4d77b3;
  }
  .year-button{
    color: #dadada;
  }
  .active{
    background-color: #131a1d;
    box-shadow: inset 0 0 0 3px #4d77b3;
    color: #4d77b3;
  }
  .course-by-year{
    color: #9DB2BF;
  }
  .year-wrapper{
    background-color: #171d22;
  }
  .curriculum{
    box-shadow: none;
    background-color: #131a1d;
    border-width: 1px;
    border-color: #8a8a8a;
  }
  .course-box{
    box-shadow: none;
    background-color: #171d22;
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
    border-color: #8a8a8a;
    border-radius: 15px;
  }
  .course-box:hover{
    box-shadow: none;
  }
  .course-name{
    color: #dadada;
  }
  .repo-link{
    background-color: transparent;
    box-shadow: inset 0 0 0 3px #4d77b3;
    color: #4d77b3;
  }
  .repo-link:hover{
    box-shadow: inset 0 0 0 3px #dadada;
    color: #dadada;
  }
  .footer{
    background-color: transparent;
    
    .footer-row-list a{
      color: #dadada;
    }
  }
}  
/* Top navigation */
.topnav {
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 0 5vw 0 5vw;
}
.topnav a {
  display: flex;
  flex-direction: row;
  text-align: center;
  text-decoration: none;
  margin: 10px 0 10px 0;
  text-decoration: none;
  font-size: 1em;
}
.menu{
  display: flex;
  align-items: center;
  margin: 0 0 0 0;
}
.menu:hover{
  color: #526D82;
}
/* Wrapper for any section */
.section{
  padding: 3vw 5vw 3vw 5vw;
}
/* Section header for any text section */
.section-header{
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 2.5vw;
}
/* Section text is use for plain text for any text section */
.section-text{
  margin-bottom: 6vw;
}
/* Use for title heading */
h1{
  margin: 0;
}
/* Use for headings in text */
h2{
  margin: 0 0 0 0;
  font-size: 1.5em;
}
/* Use for subheading */
h3{
  margin: 0 0 0 0;
} 
/* Add space between main section and footer section */
.spacer{
  padding-bottom: 25vw;
}
a{
  color: inherit;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
/* Course syllabus */
li{
  padding: 0.5em 0 1em 0;
  display: list-item;
  list-style-type: disc;
}
.course-content{
  display: flex;
  justify-content: space-between;
}
.course-subcontent a{
  color: #474747;
}
.course-subcontent{
  display: none;
  overflow: hidden;
}
.course-syllabus{
  margin-top: 0;
  padding-left: 0;
}
.fa.fa-chevron-down, .fa.fa-chevron-up{
  color: #808080;
  font-size: 1em;
  font-weight: 100;
  padding: 0 0 0 10px;
}
.fa.fa-chevron-left{
  padding: 0 10px 0 0;
  font-size: 0.9em;
  font-weight: 100;
}
.fa.fa-chevron-right{
  padding: 0 0 0 10px;
  font-size: 0.9em;
  font-weight: 100;
}
.fa.fa-plus, .fa.fa-minus{
  font-size: 0.7em;
}
.fa.fa-times{
  padding: 3px 0 0 10px;
  scale: 1.05;
}
.fa.fa-bars{
  padding: 5px 0 0 10px;
}
/* Dropdown toggle */
.example{
  width: 90vw;
  margin-bottom: 30px;
}
.toggle-solution{
  display: flex;
  justify-content: space-between;
  padding: 15px 10px 15px 10px;
}
.solution-content{
  display: none;
  overflow: hidden;
  padding: 0 10px 10px 10px;
}
.solution{
  margin-bottom: 30px;
  margin-top: 10px;  
  border-radius: 10px;
}
.toggle-dropdown{
  display: flex;
  justify-content: space-between;
}
.dropdown-content{
  overflow: hidden;
}
.faqs-dropdown{
  padding-bottom: 1em;
}
/* Switch between light and dark mode */
.mode-switch{
  display: grid;
  justify-items: center;
  font-size: 1.5em;
  background-color: transparent;
}
.mode-switch:hover{
  color: #526D82;
}
/* The whole main content */
#main {
  margin: 0;
  align-items: center;
  display: grid;
}
/* Header text of the page*/
.header{
  .header-text{
    padding: 5vw 5vw 0 5vw;
  }
  .page-title{
    padding-top: 2vw;
  }
}
/* Language switch */
.language-switch a{
  display: inline-flex;
  margin: 0 0 0 0;
  padding: 2vw 0 2vw 0;
  .language{
    padding-left: 2vw;
    font-size: 0.8em;
  }
}
.language-switch a:hover{
  color: #526D82;
}
.language-switch{
  width: 100%;
  border-bottom: solid;
  border-width: 1px;
}
/* Unclicked button style */
.year-button{
  padding: 2vw 3vw 2vw 3vw;
  background-color: transparent;
  border-width: 0;
  border-radius: 1em;
  font-size: 0.9em;
  width: auto;
}
.year-index{
  padding: 0.5vw 0.5vw 0 1vw;
}
/* Courses by year section */
.curriculum{
  padding: 5vw 5vw 5vw 5vw;
  margin: 0 5vw 0 5vw;
  border-style: solid;
  border-color: transparent;
  border-radius: 20px;
  .course-by-year{
    display: inline-flex;
  }
  .curriculum-header{
    align-items: center;
    justify-content: space-between;
  }
  /* Wrapper for years */
  .year-wrapper{
    margin: 10px 0 10px 0;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .course-wrapper{
    display: grid;
    justify-content: space-between;
  }
  .first-semester-text{
    display: inline-flex;
    justify-content: space-between;
    align-content: center;
    padding: 2vw 2vw 2vw 2vw;
  }
  .second-semester-text{
    margin-top: 2vw;
    padding: 2vw 2vw 2vw 2vw;
  }
  #second-year-course, #third-year-course, #fourth-year-course{
    width: 0;
    height: 0;
  }
  #second-year-course-even, #third-year-course-even, #fourth-year-course-even{
    width: 0;
    height: 0;
  }  
  #first-year-course, #first-year-course-even{
    height: 100%;
    width: 100%;
  }
  .semester{
    text-align: left;
    overflow-x: scroll;
  }
  .course-list{
    display: inline-flex;
    text-align: center;
    align-items: start;
    text-decoration: none;
    margin: 0 2vw 0 2vw;
  }
  .course-box{
    margin: 2vw 3vw 2vw 0;
    width: 170px;
    height: 170px;
    align-content: start;
    display: grid;
    overflow: hidden;
    text-decoration: none;
  }
  .course-box:hover{
    scale: 1.05;
    opacity: 0.7;
    transition: 0.3s ease;
  }
  .course-cover{
    width: 170px;
    height: 75px;
    display: grid;
  }
  .course-name{
    text-decoration: none;
    display: grid;
    text-align: left;
    font-size: 0.8em;
    padding: 8px 5px 5px 10px;
  }
  .course-code{
    display: flex;
    text-decoration: none;
    text-align: left;
    font-size: 0.7em;
    color: #526D82;
    padding: 8px 5px 12px 10px;
    max-height: 0;
  }  
}
/* Contribute with us section */
.contribute-wrapper{
  padding: 8.3vw 5vw 5vw 5vw;
  display: grid;
  text-align: center;
  .contribute-header{
    font-size: 1em;
  }

  .contribute-text{
    padding: 2vw 0 2vw 0;
  }
}
.repo-button{
  padding: 5vw 0 0 0;
  /* Text inside the button */
  .repo-link{
    padding: 2.5vw 4vw 2.5vw 4vw;
    border-radius: 5vw;
    text-decoration: none;
    font-weight: bold;
  }
}
/* Footer section */
.footer{
  max-width: 100%;
  background-color: #3a4435;
  align-items: start;
  justify-content: space-between;
  .logo-horizontal{
    padding: 5vw 0 2vw 0;
  }
  .footer-row{
    border-top: solid;
    border-width: 1.5px;
    border-color: #808080;
    margin: 5vw 5vw 5vw 5vw;
    .footer-column{
      display: flex;
      margin-top: 5vw;
    }
    .footer-license{
      margin-top: 5vw;
    }
  }
  .footer-row-list{
    padding: 0 8.3vw 0 0;
    text-align: left;
    align-items: center;
    text-decoration: none;
    min-width: 13vw;  
  }
  .footer-list{
    margin-top: 3vw;
    text-decoration: none;
  }
  .footer-list:hover{
    color: #526D82;
  }
}
/* Watermark section */
.watermark{
  max-width: 100%;
  padding: 5vw 5vw 5vw 5vw;
  background-color: #090c0e;
  color: #ffffff;
  font-size: 0.8em;
 
  .watermark-row{
    display: grid;
    justify-items: center;
  }
  
  .watermark-paragraph{
    display: flex;
    text-align: center;
    padding: 2vh 0 2vh 0;
  }
  .web-button{
    padding: 2vh 0 2vh 0;
  }
  
  .github-button{
    padding: 2vh 0 2vh 0;
  }
}
.figure-wrapper{
  display: grid;
  justify-content: center;
  text-align: center;
  padding: 2vw 0 5vw 0 ;
  .figure{
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }
  .figure-caption{
    padding: 5vw 0 0 0 ;
  }
}
.content-footer-wrapper{
  display: flex;
  justify-content: space-between;
  padding: 20px 0 0 0;
}
.content-footer-wrapper a:hover{
  text-decoration: underline;
}
@media screen and (min-width: 830px) {
  .katex-display > .katex > .katex-html > .tag {
    position: absolute !important;
    right: 1rem !important;
  }
  .example{
    width: auto;
  }
  .tex-container{
    width: auto;
  }
  .figure-wrapper{
    padding: 2vh 0 5vh 0 ;
    .figure{
      width: 70vh;
    }
    .figure-caption{
      padding: 5vh 0 0 0 ;
    }
  }
  .logo-horizontal{
    max-width: 10em;
  }  
  .content-column{
    display: flex;
    width: auto;
    padding: 3vh 20vh 3vh 20vh;
    gap: 5vh;
  }
  .contents-header{
    display: flex;
    justify-content: space-between;
    width: auto;
    margin: 0;
    padding: 0;
    border: none;
  }
  .left-table-of-contents{
    display: flex;
    padding: 0 15px 0 0; 
    width: 40vh;
    max-height: 100vh;
    overflow-y: scroll;
  }
  .left-column{
    margin-bottom: 0;
  }
  .right-column{
    width: 130vh;
  }
  .light-mode{
    .topnav {
      box-shadow: 0 0 10px 0px #b4b4b4;
    }
  
    .curriculum{
      box-shadow: 0 0 10px 0px #b4b4b4;
    }
  
    .course-box{
      box-shadow: 0 0 10px 0px #b4b4b4;
      border-style: none;
    }
  
    .course-box:hover{
      box-shadow: 0 0 1x 0px #b4b4b4;
    }
  }    
  
  .dark-mode{
    .topnav {
      box-shadow: none;
    }
    .curriculum{
      box-shadow: none;
      border-width: 1.5px;
      border-color: #474747;
    }
    .course-box{
      box-shadow: none;
      border-style: solid;
      border-width: 1.5px;
      border-color: #474747;
      border-radius: 3vh;
    }
    .course-box:hover{
      box-shadow: none;
    }
  
    .footer{
      background-color: transparent;
      border-color: #474747;
    }
  }  

  /* Wrapper for any section */
  .section{
    padding: 3vh 20vh 3vh 20vh;
  }
  /* Section header for any text section */
    .section-header{
      padding-bottom: 2.5vh;
  }
  /* Section text is use for plain text for any text section */
  .section-text{
      margin-bottom: 4vh;
  }
  /* Add space between main section and footer section */
  .spacer{
    padding-bottom: 25vh;
  }
  /* Header text of the page*/
  .header{
    .header-text{
      padding: 5vh 20vh 1vh 20vh;
    }
    .page-title{
      padding-top: 2vh;
    }
  }
  /* Language switch */
  .language-switch a{
    display: inline-flex;
    margin: 0 0 0 0;
    padding: 2vh 0 2vh 0;
    .language{
      padding-left: 2vh;
      font-size: 0.8em;
    }
  }
  .language-switch{
    width: 100%;
    border-bottom: solid;
    border-width: 1.5px;
  }
  /* Courses by year section */
  .curriculum{
    padding: 5vh 5vh 5vh 5vh;
    margin: 0 20vh 8.3vh 20vh;
    border-radius: 5vh;
    .curriculum-header{
      display: flex;
    }
    /* Wrapper for years */
    .year-wrapper{
      margin: 0 0 0 0;
    }
    .semester-and-button{
      padding: 2vh 2vh 2vh 2vh;
    }
    .second-semester-text{
      margin-top: 3vh;
    }
    .course-list{
      margin: 2vh 2vh 2vh 2vh;
    }
    .course-box{
      margin: 2vh 3vh 2vh 3vh;
      width: 280px;
      height: 250px;
    }
    .course-cover{
      width: 280px;
      height: 125px;
    }
    .course-name{
      font-size: 0.9em;
      padding: 0 3vh 2vh 3vh;
    }
    .course-code{
      font-size: 0.9em;
      padding: 2vh 3vh 1vh 3vh;
      max-width: 280px;
      max-height: 50px;
    }  
  } 
  /* Contribute with us section */
  .contribute-wrapper{
    padding: 0 20vh 8.3vh 20vh;
    .contribute-text{
      padding: 2vh 0 2vh 0;
    }
  }
  .repo-button{
    padding: 6.6vh 0 0 0;
  
    /* Text inside the button */
    .repo-link{
      padding: 2.5vh 5vh 2.5vh 5vh;
    }
  }
  /* Footer section */
  .footer{
    margin: 5vh 20vh 5vh 20vh;
    .logo-horizontal{
      padding: 0 0 2vh 0;
    }  
    .footer-row{
      margin: 0;
      gap: 20px;
      padding-top: 5vh;
      display: flex;
      align-items: start;
      justify-content: space-between;
      .footer-license{
        margin-top: 5vh;
      }
    }
    .footer-row-list{
      padding: 0;
    }
    .footer-column{
      display: flex;
      margin-top: 0 !important;
    }
    .footer-list{
      margin-top: 2vh;
    }
  }
  /* Watermark section */
  .watermark{
    padding: 2vh 20vh 2vh 20vh;
    .watermark-row{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .watermark-paragraph{
      display: flex;
      align-items: center;
      text-align: left;
    }
    .web-button{
      padding: 0 2vh 0 6.6vh;
    }
    .github-button{
      padding: 0 6.6vh 0 2vh;
    }
  }
  /* Unclicked button style */
  .year-button{
    padding: 2vh 4vh 2vh 4vh;
    border-radius: 20px;
  }
  .year-index{
    padding: 0 2vh 0 3vh;
  }
  /* Top navigation */
  .topnav {
      padding: 0.5vh 20vh 0.5vh 20vh;
    }
    .topnav a {
      margin: 2.3vh 2vh 2.3vh 2vh;
    }
    /* Wrapper for the logo */
    .logo-wrapper{
      align-items: start;
      display: grid;
    }
}