.light-theme{
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
  color: #424242;
  background-color: #ffffff;
  margin: 0;
  
  .year-button{
    color: #424242;
  }

  .active{
    background-color: #1a3a45;
    color: #ffffff;
  }
  
  .intro-header{
    color: #1a3a45;
  }

  .course-by-year{
    color: #1a3a45;
  }

  .curriculum{
    box-shadow: 0 0px 10px 0px #b4b4b4;
    border-width: 0px;
    border-color: #424242;
  }

  .curriculum:hover{
    box-shadow: 0 0px 20px 0px #9ab39a;
  }

  .course-box{
    box-shadow: 0 0px 10px 0px #b4b4b4;
    border-width: 0px;
    border-color: #424242;
  }

  .course-box:hover{
    box-shadow: 0 0px 10px 5px #9ab3ab;
  }

  .mission{
    background: linear-gradient(30deg, #1a3a45 0%,  #99b87d 100%);
  }

  .mode-switch{
    color: #ffffff;
    background-color: transparent;
  }

  .footer{
    background-color: #3a4435;
  }
}    

.dark-theme{
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
  color: #ffffff;
  background-color: #111111;
  margin: 0;

  .year-button{
    color: #ffffff;
  }

  .intro-header{
    color: #557068;
  }

  .course-by-year{
    color: #557068;
  }

  .curriculum{
    box-shadow: 0 0px 10px 0px #1a3a45;
    border-width: 1px;
    border-color: #424242;
  }

  .curriculum:hover{
    box-shadow: 0 0px 20px 0px #1a3a45;
  }

  .course-box{
    box-shadow: 0 0px 10px 0px #1a3a45;
    border-width: 1px;
    border-color: #424242;
  }

  .course-box:hover{
    box-shadow: 0 0px 10px 5px #1a3a45;
  }

  .mission{
    background: linear-gradient(30deg, #1a3a45 40%,  #55996b 100%);
  }

  .mode-switch{
    color: #ffffff;
    background-color: transparent;
  }

  .footer{
    background-color: #1f251c;
  }
}  

.mode-switch{
  width: 20px;
  scale: 1.2;
  display: block;
  align-content: center;
  color: #ffffff;
  background-color: transparent;
}

.mode-switch:hover{
  color: #557068;
  cursor: pointer;
}

/* Use for headings in text */
h2{
  margin: 0;
  font-size: 36px;
}


/* The whole main content */
#main {
  margin: 0;
  align-items: center;
  display: grid;
}

/* Set background image for header */
.header{
  padding-top: 80px;
  background-image: url(../assets/images/home/background.jpg);
  background-size: cover;
  background-position: center;

  .header-text{
    padding: 10px 80px 10px 80px;
    color: #ffffff;
    text-shadow: 0px 1px 5px #3b3b3b;
  }
}

/* Search bar in the header */
.search_bar{
  margin: 10px 80px 50px 80px;
  display: grid;

  .search_form{  
    padding: 15px 20px 15px 20px;
    font-size: 18px;
    border-style: solid;
    border-radius: 20px;
    border-color: transparent;
    background-color: #ffffff;
    color: #424242;}
  
  .search_button{
    padding: 15px 10px 15px 10px;
    margin-top: 10px;
    border-style: solid;
    border-radius: 20px;
    max-width: 100px;
    text-align: center;
    text-decoration: none;
    border-color: transparent;
    background-color: #1a3a45;
    color: #ffffff;
  }

  .search_button:hover{
    background-color: #557068;
  }
}

/* Introduction section */
.introduction-section{
  padding: 50px 80px 0px 80px;
}

.intro-header{
  padding-bottom: 10px;
}

/* Courses by year section */
.curriculum{
  padding: 30px 30px 30px 30px;
  margin: 30px 80px 50px 80px;
  border-style: solid;
  border-color: transparent;
  border-radius: 20px;
}

/* Wrapper for years */
.year-wrapper{
  margin: 0px 0px 0px 0px;
  display: inline-flex;
  align-items: center;
  flex-direction: row;
}

.course-by-year{
  display: inline-flex;
}

.curriculum-header{
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.course-wrapper{
  display: grid;
  justify-content: space-between;

}

.semester-and-button{
  display: inline-flex;
  justify-content: space-between;
  align-content: center;
}

.carousel-button{
  display: none;
}

.prev-button, .next-button{
  background-color: #557068;
  text-align: center;
  width: 100px;
  height: 30px;
  padding: 10px 10px 10px 10px;
  margin: 0px 10px 0px 0px;
  color: #ffffff;
  border-radius: 20px;
  border-width: 0px;
  cursor: pointer;
  transition: 0.3s ease;
}

.prev-button:hover, .next-button:hover{
  background-color: #abd3c7;
}

#second-year-course, #third-year-course, #fourth-year-course{
  width: 0;
  height: 0;
}

#second-year-course-even, #third-year-course-even, #fourth-year-course-even{
  width: 0;
  height: 0;
}

#first-year-course, #first-year-course-even{
  height: 100%;
  width: 100%;
}

.semester-and-button{
  margin: 10px 0px 10px 0px;
}

.semester{
  text-align: left;
  align-items: start;
  overflow-x: scroll;
}

.course-list{
  display: inline-flex;
  text-align: center;
  align-items: start;
  margin: 10px 10px 10px 10px;
}

.course-box{
  margin: 10px 25px 10px 0px;
  width: 200px;
  height: 200px;
  align-content: start;
  display: grid;
  border-style: solid;
  border-width: 0px;
  border-color: transparent;
  border-radius: 20px;
  overflow: hidden;
}

.course-box:hover{
  scale: 1.05;
  opacity: 0.7;
  transition: 0.3s ease;
}

.course-cover{
  width: 200px;
  height: 100px;
  display: grid;
}

.course-name{
  display: grid;
  text-align: left;
  font-weight: bold;
  font-size: 16px;
  padding: 0px 20px 10px 20px;
}

.course-code{
  display: flex;
  text-align: left;
  font-size: 16px;
  color: #557068;
  padding: 10px 20px 5px 20px;
  max-width: 200px;
  max-height: 100px;
  
}

/* Our mission section */
.mission{  
  background-position: bottom;
  background-size: cover;
  color: #ffffff;
  justify-content: center;
}

@keyframes typing {
  0% {
    width: 0;
  }
  20%{
    width: 100%;
  }
  100%{
    width: 100%;
  }
}

.mission-text{
  width: 0;
  text-shadow: 0px 0px 5px #3b3b3b;
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  overflow: hidden;
  animation: typing 5s steps(50, end) infinite;
}

.mission-text-wrapper{
  display: inline-block;
  margin: 10px 80px 30px 80px;
  width: 700px;
  height: 240px;
  overflow: hidden;
}

.mission-text-header{
  padding: 30px 80px 10px 80px;
  display: grid;
  text-shadow: 0px 0px 5px #3b3b3b;
  color: #ffffff;
}

/* Contribute with us section */
.contribute-wrapper{
  padding: 30px 80px 50px 80px;
  display: grid;
  text-align: center;
}

.contribute-header{
  font-size: 40px;
}

.contribute-text{
  padding: 10px 0px 0px 0px;
}

/* Join us button */
.repo-button{
  padding: 30px 0px 0px 0px;

  /* Text inside the button */
  .repo-link{
    padding: 15px 30px 15px 30px;
    background-color: #1a3a45;
    color: #ffffff;
    border-radius: 30px;
    text-decoration: none;
  }
}

/* Footer section */
.footer{
  padding: 10px 0px 30px 0px;
  display: grid;
  background-color: #3a4435;
  color: #ffffff;
  align-items: start;
}

.footer-row{
  padding: 0px 80px 0px 80px;
  align-items: center;
  display: flex;
  justify-content: space-between;

  .footer-license{
    font-size: 14px;
  } 

  .footer-column{
    display: flex;
  }
}

.footer-row-list{
  margin: 0px 50px 0px 50px;
  text-align: left;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  min-width: 120px;  
}

.footer-list{
  color: #ffffff;
  margin-top: 10px;
  text-decoration: none;
}

.footer-list:hover{
  color: #557068;
}

/* Watermark section */
.watermark{
  background-color: #000000;
  color: #ffffff;
  font-size: 14px;

  .watermark-row{
    padding: 10px 80px 10px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .web-button{
    padding: 0px 10px 0px 20px;
  }
  
  .github-button{
    padding: 0px 20px 0px 10px;
  }
}

/* Unclicked button style */
.year-button{
  padding: 15px 20px 15px 20px;
  background-color: transparent;
  border-width: 0;
  border-color: transparent;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
}

/* Clicked button style */
.active{
  background-color: #1a3a45;
  color: #ffffff;
  cursor: pointer;
}

/* Top navigation */
.topnav {
    top: 10px;
    left: 80px;
    right: 80px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    background-color: transparent;
    position: absolute;
  }
  
  .topnav a {
    float: left;
    display: flex;
    flex-direction: row;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    padding: 14px 10px 14px 10px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Wrapper for the logo */
  .logo-wrapper{
    align-items: start;
    display: grid;
  }

  /* Wrapper for three menus*/
  .menu{
    display: flex;
    align-items: center;
  }
  .menu:hover{
    color: #557068;
    cursor: pointer;
  }

  .courses{
    color: #ffffff;
  }

  .courses:hover{
    color: #557068;
    cursor: pointer;
  }

  /* Language switch dropdown */
  .language-switch{
    color: #ffffff;
    display: inline-flex;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    border-color: #ffffff;
    margin: 0px 20px 0px 10px;
    padding: 10px 10px 10px 10px;
  }

  .language-switch:hover{
    color: #557068;
    border-color: #557068;
    cursor: pointer;
  }

  .language{
    padding-right: 10px;
  }

  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .menu{
        display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: relative;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
