.loading{
  background-color: transparent;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100%;
}
.loading-wrapper{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 20px;
  align-items: center;
  -moz-animation: loading 0.5s ease infinite alternate;
  -webkit-animation: loading 0.5s ease infinite alternate;
  animation: loading 0.5s ease infinite alternate;
}
.loading-container{
  width: 200px;
  overflow-x: hidden;
  overflow-y: hidden;
}
.wave{
  height: 50px;
}
.loading-image{
  display: flex;
  -moz-animation: wave 1.5s ease infinite;
  -webkit-animation: wave 1.5s ease infinite;
  animation: wave 1.5s ease infinite;
}
.loading-text{
  text-align: center;
}
@keyframes loading{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0.2;
  }
}
@-webkit-keyframes loading{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0.2;
  }
}
@-moz-keyframes loading{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0.2;
  }
}
@-webkit-keyframes wave{
  0%{
    transform: translatex(-1300%);  
  }
  100%{
    transform: translatex(-0%);  
  }
}
@-moz-keyframes wave{
  0%{
    transform: translatex(-1300%);  
  }
  100%{
    transform: translatex(-0%);  
  }
}
@keyframes wave{
  0%{
    transform: translatex(-1300%);  
  }
  100%{
    transform: translatex(-0%);  
  }
}
.katex-display > .katex > .katex-html > .tag {
  position: relative !important;
  right: -0.5em !important;
  font-size: 1.1em !important;
}
.katex-display{
  font-size: 0.9em;
}
.tex-container{
  width: auto;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto; 
  overflow-x: auto;
  overflow-y: hidden;
}
.code-container{
  width: auto;
  margin-left: auto;
  margin-right: auto; 
  margin-top: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  border-radius: 10px;
}
.terminal{
  display: none;
  margin: 8px 0 8px 0px;
  font-size: 0.8em;
  color: #4d77b3;
}
.loading-python{
  display: none;
  margin: 8px 0 8px 8px;
  font-family: monospace;
  font-size: 1em;
}
.fa.fa-spinner{
  font-size: 0.9em !important;
  color: #4d77b3;
  animation: spinning 0.5s infinite ease;
  -webkit-animation: spinning 0.5s infinite ease;
  -moz-animation: spinning 0.5s infinite ease;
}
@keyframes spinning{
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spinning{
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinning{
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}
.python-output{
  width: auto;
  margin: 8px 0 8px 0;
  font-size: 1.1em;
  font-family: monospace;
}
.pyscript_config{
  display: none;
}
.pyscript-container{
  display: flex;
  width: auto;
  align-items: start;
  gap: 10px;
  margin-left: auto;
  margin-right: auto; 
  overflow-x: auto;
  background-color: #151b1f;
  color: #dadada;
}  
pre{
  margin: 0 0 0 0;
}
.code-button-container{
  padding: 8px 8px 8px 8px;
}
.run-code-button{
  padding: 8px 8px 8px 8px;
  margin: 0 0 0 0;
  background-color: transparent;
  font-size: 0.9em;
  border: solid;
  border-radius: 10px;
  border-width: 2px;
  border-color: #4d77b3;
  color: #4d77b3;
}
.code-copied-alert{
  display: none;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px 15px 15px;
  z-index: 99;
  width: 300px;
  height: auto;
  top: 60px;
  left: 10px;
  font-size: 1em;
  border: solid;
  border-radius: 10px;
  border-width: 1px;
  border-color: #4d77b3;
  color: #4d77b3;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);

  .code-copied-alert i{
    padding: 0 0 0 0 !important;
  }
}
.fa.fa-info-circle{
  padding: 0 5px 0 0;
  font-size: 1.1em;
}
.copy-code-button{
  padding: 8px 8px 8px 8px;
  margin: 0 0 0 0;
  background-color: transparent;
  font-size: 0.9em;
  border: solid;
  border-radius: 10px;
  border-width: 2px;
}
.copy-code-button:active{
  border-color: #4d77b3;
  color: #4d77b3;
}
.ellipse-container-top{
  position: absolute;
  height: 500px;
  width: 500px;
  top: 10px;
  right: 0;
  z-index: -1;
  overflow: hidden;
}

.ellipse-top{
  position: absolute;
  height: 400px;
  right: -80px;
  z-index: -1;
}
.ellipse-container-bottom{
  position: absolute;
  height: 500px;
  width: 100%;
  right: 0;
  bottom: -1100px;
  z-index: -1;
  overflow: hidden;
}
.ellipse-bottom{
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.logo-horizontal{
  width: 200px;
  height: 37px;
}
.logo-horizontal.dark{
  background-size: cover;
  background-image: url(../assets/images/logo/logo-compact-horizontal-dark.svg);
}
.logo-horizontal.light{
  background-size: cover;
  background-image: url(../assets/images/logo/logo-compact-horizontal-light.svg);
}
body{
  font-family: "Helvetica", sans-serif;
  font-size: 1.1em;
  margin: 0;
}
.background-gradient{
  position: absolute;
  scale: 0.5;
  opacity: 0.5;
  rotate: 45deg;
  z-index: -1;
}
.contents{
  padding: 20px 30px 10px 30px;
}
.contents-header{
  display: flex;
  width: 125px;
  height: 40px;
  gap: 10px;
  margin: 0 0 15px 0;
  padding: 3px 0px 3px 10px;
  text-align: center;
  align-items: center;
  border: solid;
  border-width: 2px;
  border-radius: 15px;
}
.topnav-contents{
  font-size: 1.4em;
  display: flex;
  width: 30px;
  height: 30px;
}
.topnav-contents.hidden{
  display: none;
}
.topnav-table-of-contents{
  display: none;
  width: 300px;
  height: 100%;
  position: fixed;
  overflow-y: scroll;
  z-index: 99;
}
.topnav-syllabus{
  padding: 20px 30px 20px 0;
}
.topnav-syllabus ul{
  margin-top: 0;
}
.table-of-contents{
  display: none;
  padding: 0 30px 0 0;
  margin: 0 0 0 0;
  overflow-y: scroll;
  max-height: 350px;
  .table-of-contents i{
    padding: 8px 0 0 0 !important;
  }
}
::-webkit-scrollbar{
  height: 3px;
  width: 8px;
  border-radius: 0;
  background: linear-gradient(#808080 0%, #474747 100%);
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(#4d77b3 0%, #ffffff 100%);
}
.light-mode{
  color: #474747;
  background-color: #f7f9ff;
  .ellipse-container-top, .ellipse-container-bottom{
    opacity: 0.3;
  }
  .page-title{
    background: linear-gradient(90deg, #474747 0%, #4d77b3 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
  ::-webkit-scrollbar{
    border-radius: 15px;
    background: linear-gradient(90deg, #bbbbbb 0%, #b4b4b4 100%);
  }
  ::-webkit-scrollbar-thumb{
    border-radius: 15px;
    background: linear-gradient(90deg, #4d77b3 0%, #dfdfdf 100%);
  }
  .wave{
    filter: none;
  }
  .solution{
    background-color: #dfdfdf;
  }
  .run-code-button:active{
    border-color: #808080;
    color: #808080;
  }
  .code-copied-alert{
    background-color: #f7f9ff;
  }
  .copy-code-button{
    border-color: #808080;
    color: #808080;
  }
  .course-subcontent a{
    color: #474747;
  }
  .content-footer-wrapper{
    color: #474747;
  }
  .contents-header{
    border-color: #474747;
    color: #474747;
  }
  .topnav {
    background-color: #ffffff90;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 0 10px 0 #b4b4b4;
    border-bottom: none;
  }
  .topnav-table-of-contents{
    background-color: #f7f9ff;
    box-shadow: 2px 5px 5px 0 #b4b4b4;
  }
  .topnav-table-of-contents::-webkit-scrollbar{
    width: 5px;
    border-radius: 0;
  }
  .topnav-table-of-contents::-webkit-scrollbar-thumb{
    background: linear-gradient(#4d77b3 0%, #ffffff 100%);
  }
  .table-of-contents::-webkit-scrollbar{
    width: 5px;
  }
  .table-of-contents::-webkit-scrollbar-thumb{
    background: linear-gradient(#4d77b3 0%, #ffffff 100%);
  }
  .header-text{
    color: #474747;
  }
  .mode-switch, .topnav-contents{
    background-color: transparent;
    color: #808080;
  }
  .language-switch a{
    color: #808080;
  }
  .language-switch {
    color: #80808050;
  }
  .section-text a{
    color: #4d77b3;
  }
  .course-by-year{
    color: #474747;
  }
  .year-button{
    color: #474747;
  }
  .year-wrapper{
    background-color: #f7f9ff;
  }
  .active{
    background-color: #ffffff;
    box-shadow: inset 0 0 0 3px #4d77b3;
    color: #4d77b3;
  }
  .section-header{
    color: #474747;
  }
  .courses{
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 #b4b4b4;
    border-color: #ffffff;
    border-width: 1px;
  }
  .course-box{
    background-color: #ffffff;
    box-shadow: 0 0 5px 0 #b4b4b4;
    border-color: #ffffff;
    border-width: 1px;
    text-decoration: none;
  }
  .course-box:hover{
    box-shadow: 0 0 1vw 0 #b4b4b4;
  }
  .course-name{
    color: #474747;
  }
  .repo-link{
    background-color: transparent;
    box-shadow: inset 0 0 0 3px #4d77b3;
    color: #4d77b3;
  }
  .repo-link:hover{
    box-shadow: inset 0 0 0 3px #9DB2BF;
    color: #9DB2BF;
  }
  .footer{
    background-color: transparent;
    .footer-row-list a{
      color: #474747;
    }
  }
}    

.dark-mode{
  color: #dadada;
  background-color: #151b1f;
  .page-title{
    background: linear-gradient(90deg, #4d77b3 0%, #ffffff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
  ::-webkit-scrollbar{
    border-radius: 15px;
    background: linear-gradient(90deg, #1d2529 0%, #1a2025 100%);
  }
  ::-webkit-scrollbar-thumb{
    border-radius: 15px;
    background: linear-gradient(90deg, #4d77b3 0%, #ffffff 100%);
  }
  .code-container{
    border: solid;
    border-width: 1px;
    border-color: #8a8a8a50;
  }
  .wave{
    filter: brightness(80);
  }
  .solution{
    background-color: #1d2529;
  }
  .run-code-button:active{
    border-color: #dadada;
    color: #dadada;
  }
  .code-copied-alert{
    background-color: #1d2529;
  }
  .copy-code-button{
    border-color: #dadada;
    color: #dadada;
  }
  .course-subcontent a{
    color: #dadada;
  }
  .topnav {
    background-color: #131a1d60;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: none;
    border-bottom: solid;
    border-width: 0.5px;
    border-color: #8a8a8a50;
  }
  .topnav-table-of-contents{
    background-color: #12191b;
    border-right: solid;
    border-width: 0.5px;
    border-color: #8a8a8a50;
  }
  .topnav-table-of-contents::-webkit-scrollbar{
    width: 5px;
    border-radius: 0;
  }
  .topnav-table-of-contents::-webkit-scrollbar-thumb{
    background: linear-gradient( #4d77b3 0%, #ffffff 100%);
  }
  .table-of-contents::-webkit-scrollbar{
    width: 5px;
  }
  .table-of-contents::-webkit-scrollbar-thumb{
    background: linear-gradient( #4d77b3 0%, #ffffff 100%);
  }
  .header-text{
    color:#ffffff;
  }
  .mode-switch{
    color: #dadada;
  }
  .mode-switch{
    color: #dadada;
    background-color: transparent;
  }
  .language-switch a{
    color: #8a8a8a;
  }
  .language-switch{
    color: #8a8a8a50;
  }
  .section-header{
    color: #ffffff;
  }
  .section-text a{
    color: #4d77b3;
  }
  .year-button{
    color: #dadada;
  }
  .active{
    background-color: #12191b;
    box-shadow: inset 0 0 0 3px #4d77b3;
    color: #4d77b3;
  }
  .course-by-year{
    color: #ffffff;
  }
  .year-wrapper{
    background-color: #1a2025;
  }
  .courses{
    background-color: #12191b;
    box-shadow: none;
    border-color: #8a8a8a50;
    border-width: 0.5px;
  }
  .course-box{
    background-color: #1a2025;
    box-shadow: none;
    border: solid;
    border-color: #8a8a8a50;
    border-width: 0.5px;
    text-decoration: none;
  }
  .course-box:hover{
    box-shadow: none;
  }
  .course-name{
    color: #dadada;
  }
  .repo-link{
    background-color: transparent;
    box-shadow: inset 0 0 0 3px #4d77b3;
    color: #4d77b3;
  }
  .repo-link:hover{
    box-shadow: inset 0 0 0 3px #dadada;
    color: #dadada;
  }
  .footer{
    .footer-row-list a{
      color: #dadada;
    }
  }
}  
.topnav {
  display: flex;
  width: auto;
  padding: 0 30px 0 30px;
  position: sticky;
  top: 0px;
  z-index: 99;
  justify-content: space-between;
  align-items: center;
}
.topnav a {
  display: flex;
  margin: 5px 0 5px 0;
  flex-direction: row;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
}
.topnav-menu{
  display: flex;
  align-items: center;
  margin: 0 0 0 0;
}
.topnav-menu:hover{
  color: #4d77b3;
}
.section{
  margin: 20px 30px 20px 30px;
}
/* Section header for any text section */
.section-header{
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 10px;
}
/* Use to contain text for any text section */
.section-text{
  margin-bottom: 30px;
}
/* Use for title heading */
h1{
  margin: 0;
  font-size: 2.4em;
}
/* Use for headings in text */
h2{
  margin: 0 0 0 0;
  font-size: 1.5em;
}
/* Use for subheading */
h3{
  margin: 0 0 0 0;
} 
.spacer{
  padding-bottom: 100px;
}
a{
  color: inherit;
  text-decoration: none;
}
a:hover{
  text-decoration: underline; 
  text-decoration-color: #4d77b3;
  transition: color 300ms ease-in-out;
}
li{
  padding: 0.5em 0 1em 0;
  display: list-item;
  list-style-type: disc;
}
.course-content{
  display: flex;
  justify-content: space-between;
}
.course-subcontent a{
  color: #474747;
}
.course-subcontent{
  display: none;
  overflow: hidden;
}
.course-syllabus{
  margin-top: 0;
  padding-left: 0;
}
.fa.fa-chevron-down, .fa.fa-chevron-up{
  color: #808080;
  font-size: 1em;
  font-weight: 100;
  padding: 0 0 0 10px;
}
.fa.fa-chevron-left{
  padding: 0 10px 0 0;
  font-size: 0.9em;
  font-weight: 100;
}
.fa.fa-chevron-right{
  padding: 0 0 0 10px;
  font-size: 0.9em;
  font-weight: 100;
}
.fa.fa-plus, .fa.fa-minus{
  font-size: 0.7em;
}
.example{
  width: auto;
  margin-bottom: 30px;
}
.toggle-solution{
  display: flex;
  justify-content: space-between;
  padding: 15px 15px 15px 15px;
}
.solution-content{
  display: none;
  overflow: hidden;
  padding: 0 20px 20px 20px;
}
.solution{
  margin-bottom: 30px;
  margin-top: 10px;  
  border-radius: 10px;
}
.toggle-dropdown{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dropdown-content{
  overflow: hidden;
}
.faqs-dropdown{
  padding-bottom: 1em;
}
.mode-switch{
  display: grid;
  justify-items: center;
  font-size: 1.5em;
  background-color: transparent;
}
.mode-switch:hover{
  color: #4d77b3;
}
.main {
  margin: 0;
}
.header{
  .header-text{
    margin: 10px 30px 0 30px;
  }
  .page-title{
    padding-top: 10px;
    line-height: 1.1;
  }
}
.language-switch a{
  display: flex;
  margin: 0 0 0 0;
  padding: 10px 0 10px 0;
  align-items: center;
  .language{
    padding-left: 10px;
    font-size: 0.8em;
  }
}
.language-switch a:hover{
  color: #4d77b3;
}
.language-switch{
  width: auto;
  border-bottom: solid;
  border-width: 0.5px;
}
.year-button{
  padding: 10px 15px 10px 15px;
  background-color: transparent;
  border-width: 0;
  border-radius: 1em;
  font-size: 0.8em;
  width: auto;
}
.year-index{
  padding: 5px 10px 5px 15px;
  font-size: 0.8em;
}
.first-left-scroll i, .second-left-scroll i{
  padding: 2px 2px 0 0 !important;
}
.first-right-scroll i, .second-right-scroll i{
  padding: 2px 0 0 2px !important;
}
.first-left-scroll, .first-right-scroll, .second-left-scroll, .second-right-scroll{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px 10px 10px;
  margin: 0 0 0 0;
  width: 10px;
  height: 10px;
  font-size: 0.8em;
  border-radius: 30px;
  background-color: transparent;
  box-shadow: inset 0 0 0 3px #4d77b3;
  color: #4d77b3;
  transition: color 300ms, box-shadow 300ms ease-in-out;
}
.second-semester-container{
  padding: 10px 0 0 0;
}
.scroll-button-container{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.first-left-scroll:hover, .second-left-scroll:hover, .first-right-scroll:hover, .second-right-scroll:hover{
  opacity: 0.8;
  box-shadow: inset 0 0 0 3px #dadada;
  color: #dadada;
}
.courses{
  padding: 15px 10px 15px 10px;
  margin: 0 20px 0 20px;
  border-style: solid;
  border-color: transparent;
  border-radius: 20px;
  .course-by-year{
    display: inline-flex;
    padding: 0 0 0 10px;
  }
  .courses-header{
    align-items: center;
    justify-content: space-between;
  }
  .year-wrapper{
    display: flex;
    width: fit-content;
    margin: 10px 10px 10px 10px;
    align-items: center;
    justify-content: start;
    border-radius: 15px;
  }
  .course-wrapper{
    margin: 0 10px 10px 10px;
  }
  .first-semester-text{
    padding: 10px 0 10px 0;
    font-size: 0.9em;
  }
  .second-semester-text{
    padding: 10px 0 10px 0;
    font-size: 0.9em;
  }
  #second-year-course-odd, #third-year-course-odd, #fourth-year-course-odd,
  #second-year-course-even, #third-year-course-even, #fourth-year-course-even{
    width: 0;
    height: 0;
  }  
  #first-year-course, #first-year-course-even{
    height: 100%;
    width: 100%;
  }
  .first-semester, .second-semester{
    text-align: left;
    overflow-x: scroll;;
  }
  .course-list{
    display: inline-flex;
    margin: 0 0 0 0;
    text-align: center;
    align-items: start;
    text-decoration: none;
  }
  .course-box{
    display: grid;
    margin: 15px 5px 15px 5px;
    width: 135px;
    height: 180px;
    border-radius: 15px;
    align-content: start;
    overflow: hidden;
    text-decoration: none; 
  }
  .course-box:hover{
    -webkit-animation: course-box-hover 0.5s ease;
    -moz-animation: course-box-hover 0.5s ease;
    animation: course-box-hover 0.5s ease;
  }
  .course-cover{
    width: 135px;
    height: 80px;
    display: grid;
  }
  .course-name{
    display: grid;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    text-align: left;
    font-size: 0.8em;
    
  }
  .course-code{
    display: flex;
    padding: 10px 0 0 10px;
    text-decoration: none;
    text-align: left;
    font-size: 0.7em;
    color: #4d77b3;
  }  
}
@keyframes course-box-hover{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.05);
  }
  100%{
    transform: scale(1);
  }
}
@-webkit-keyframes course-box-hover{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.05);
  }
  100%{
    transform: scale(1);
  }
}
@-moz-keyframes course-box-hover{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.05);
  }
  100%{
    transform: scale(1);
  }
}
/* Contribute with us section */
.contribute{
  margin: 40px 30px 30px 30px;
  text-align: center;
  .contribute-header{
    font-size: 1em;
  }
}
.repo-button{
  margin: 20px 0 20px 0;
  .repo-link{
    padding: 10px 20px 10px 20px;
    border-radius: 5vw;
    text-decoration: none;
    font-weight: bold;
    transition: box-shadow 300ms,  color 300ms ease-in-out;
  }
}
.footer{
  width: auto;
  .logo-horizontal{
    margin: 20px 0 10px 0;
  }
  .footer-row{
    margin: 20px 30px 20px 30px;
    border-top: solid;
    border-width: 0.5px;
    border-color: #8a8a8a50;
    font-size: 0.9em;

    .footer-link{
      display: flex;
      margin-top: 20px;
    }
    .footer-license{
      margin-top: 20px;
    }
    .footer-license a{
      color: #4d77b3;
    }
  }
  .footer-row-list{
    min-width: 130px;  
    padding: 0 20px 0 0;
    text-align: left;
    text-decoration: none;
    align-items: center;
  }
  .footer-list{
    margin-top: 10px;
    text-decoration: none;
  }
  .footer-list:hover{
    color: #4d77b3;
    transition: color 300ms ease-in-out;
  }
}
.watermark{
  display: flex;
  width: auto;
  margin: 0 30px 0 30px;
  font-size: 0.7em;
  opacity: 0.7;
  justify-content: space-between;
  align-items: center;  
  .copyright{
    display: flex;
    text-align: center;
    padding: 10px 0 10px 0;
  }
  .watermark-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .web-button{
    padding: 10px 10px 10px 10px;
    font-size: 1.8em;
  }
  .github-button{
    padding: 10px 10px 10px 10px;
    font-size: 1.8em;
  }
}
.figure-wrapper{
  display: grid;
  padding: 10px 0 20px 0;
  justify-content: center;
  text-align: center;
  .figure{
    width: 350px;
    margin-left: auto;
    margin-right: auto;
  }
  .figure-caption{
    padding: 20px 0 0 0 ;
  }
}
.content-footer-wrapper{
  display: flex;
  justify-content: space-between;
  padding: 20px 0 0 0;
}
.content-footer-wrapper a:hover{
  text-decoration: underline;
}
@media screen and (min-width: 830px) {
  .katex-display{
    font-size: 1em;
  }
  .first-left-scroll, .first-right-scroll, .second-left-scroll, .second-right-scroll{
    width: 20px;
    height: 20px;
    top: 160px;
  }
  .second-left-scroll, .second-right-scroll{
    top: 180px;
  }
  .first-left-scroll, .second-left-scroll{
    left: 5px;
  }
  .first-right-scroll, .second-right-scroll{
    right: 5px;
  }
  ::-webkit-scrollbar{
    height: 8px;
  }
  ::-webkit-scrollbar-thumb{
    border-radius: 15px;
  }
  .katex-display > .katex > .katex-html > .tag {
    position: absolute !important;
    right: 1rem !important;
  }
  .code-copied-alert{
    width: 300px;
    height: auto;
    top: 70px;
    left: 100px;
  }
  .topnav-table-of-contents{
    width: 500px;
  }
  .logo-horizontal{
    width: 200px;
    height: 35px;
  }
  .example{
    width: auto;
  }
  .tex-container{
    width: auto;
  }
  .figure-wrapper{
    padding: 20px 0 20px 0 ;
    .figure{
      width: 400px;
    }
    .figure-caption{
      padding: 20px 0 0 0 ;
    }
  }
  .ellipse-container-bottom{
    position: absolute;
    height: 500px;
    width: 100%;
    right: 0;
    bottom: -1000px;
    z-index: -1;
    overflow: hidden;
  }
  .ellipse-bottom{
    position: absolute;
    width: 100%;
    bottom: -120px;
    right: 0;
    z-index: -1;
  }
  .contents{
    display: grid;
    width: auto;
    padding: 0 100px 0 100px;
    gap: 20px;
  }
  .contents-header{
    display: flex;
    width: 125px;
    height: 30px;
    margin: 0 0 0 0;
    padding: 10px 10px 10px 10px;
    align-items: center;
    border: solid;
    border-width: 2px;
    border-radius: 15px;
  }
  .table-of-contents{
    display: none;
    padding: 0 15px 0 0; 
    width: auto;
    height: 320px;
    overflow-y: scroll;
  }
  .topnav-syllabus{
    padding: 20px 20px 100px 60px;
  }
  .section{
    margin: 20px 100px 20px 100px;
  }
    .section-header{
      padding-bottom: 10px;
  }
  .section-text{
    margin-bottom: 20px;
  }
  .spacer{
    padding-bottom: 100px;
  }
  .header{
    margin: 20px 100px 20px 100px;
    .header-text{
     margin: 0; 
    }
    .page-title{
      padding-top: 10px;
    }
  }
  .language-switch a{
    display: inline-flex;
    margin: 0 0 0 0;
    padding: 10px 0 10px 0;
    .language{
      padding-left: 10px;
      font-size: 0.8em;
    }
  }
  .language-switch{
    width: 100%;
    border-bottom: solid;
    border-width: 0.5px;
  }
  .courses{
    padding: 30px 30px 30px 30px;
    margin: 40px 100px 40px 100px;
    border-radius: 30px;
    .courses-header{
      display: flex;
    }
    .course-by-year{
      display: inline-flex;
      padding: 0 0 0 0;
    }
    .year-wrapper{
      margin: 0 0 0 0;
    }
    .course-wrapper{
      margin: 0 20px 10px 20px;
    }
    .course-list{
      margin: 10px 20px 10px 20px;
    }
    .course-box{
      margin: 10px 10px 10px 10px;
      width: 200px;
      height: 200px;
    }
    .course-cover{
      width: 200px;
      height: 100px;
    }
    .course-name{
      font-size: 0.8em;
      padding: 5px 10px 20px 10px;
    }
    .course-code{
      font-size: 0.8em;
      padding: 10px 10px 0 10px;
    }  
  } 
  .contribute{
    margin: 50px 100px 60px 100px;
  }
  .repo-button{
    margin: 30px 0 30px 0;
    .repo-link{
      padding: 15px 20px 15px 20px;
    }
  }
  .footer{
    margin: 30px 100px 30px 100px;
    .logo-horizontal{
      margin: 0 0 20px 0;
    }  
    .footer-row{
      margin: 0;
      gap: 20px;
      padding-top: 20px;
      display: flex;
      align-items: start;
      justify-content: space-between;
      .footer-license{
        margin-top: 20px;
      }
    }
    .footer-row-list{
      padding: 0;
      min-width: 150px;
    }
    .footer-link{
      display: flex;
      margin-top: 0 !important;
    }
    .footer-list{
      margin-top: 20px;
    }
  }
  .watermark{
    display: flex;
    margin: 40px 100px 10px 100px;
    justify-content: space-between;
    align-items: center;
    .copyright{
      display: flex;
      align-items: center;
      text-align: left;
    }
    .web-button{
      padding: 0 10px 0 0;
    }
    .github-button{
      padding: 0 0 0 10px;
    }
  }
  .year-button{
    padding: 15px 20px 15px 20px;
    border-radius: 20px;
  }
  .year-index{
    padding: 0 10x 0 30px;
  }
  .topnav {
    display: flex;
    padding: 0 100px 0 100px;
  }
  .topnav a {
    margin: 10px 0 10px 0;
  }  
}
